<?xml version="1.0"?>
<simplDeployPackagerConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <buildConfig>Debug</buildConfig>
  <projectFile>C:\Users\Engin\source\repos\Bluetooth DMM For Windows\BluetoothLEExplorer\BluetoothLEExplorer\Bluetooth DMM For Windows.csproj</projectFile>
  <product>Bluetooth DMM for Windows</product>
  <publisher>WebSpiderTeam</publisher>
  <version>1.0.0.0</version>
  <entryPoint>Bluetooth DMM for Windows.exe</entryPoint>
  <quietMayor>false</quietMayor>
  <inAppUpdate>false</inAppUpdate>
  <StartupArgumentsEnabled>false</StartupArgumentsEnabled>
  <signPackageEnabled>false</signPackageEnabled>
  <savePassword>false</savePassword>
  <customUninstallProcedureEnabled>false</customUninstallProcedureEnabled>
  <deploymentTargets>
    <rootUrl />
    <destinationFolder>C:\Users\Engin\source\repos\Bluetooth DMM For Windows\BluetoothLEExplorer\BluetoothLEExplorer\simplDeploy</destinationFolder>
    <useDefaultDestinationFolder>false</useDefaultDestinationFolder>
    <isActivated>true</isActivated>
  </deploymentTargets>
</simplDeployPackagerConfig>