<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BluetoothDMM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <BluetoothDMM.Properties.Settings>
      <setting name="Ontop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ChartOn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowPosition" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="Remember" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConnectOn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Reconnect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DeviceID" serializeAs="String">
        <value />
      </setting>
      <setting name="LogData" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DeviceName" serializeAs="String">
        <value />
      </setting>
    </BluetoothDMM.Properties.Settings>
  </userSettings>
</configuration>
