<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BluetoothDMM.Properties.MQTT" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BluetoothDMM.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BluetoothDMM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ScottPlot" publicKeyToken="86698dc10387c39e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.52.0" newVersion="4.1.52.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <BluetoothDMM.Properties.MQTT>
      <setting name="MQTTEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="addMac" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BrokerAddress" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="BrokerPort" serializeAs="String">
        <value>1883</value>
      </setting>
      <setting name="ClientId" serializeAs="String">
        <value>BT_DMM</value>
      </setting>
      <setting name="isEncrypted" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Topic" serializeAs="String">
        <value>Values</value>
      </setting>
      <setting name="UseLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedDataList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Time
"Time":"</string>
            <string>Device
"Device":"</string>
            <string>Value(string)
"ValueS":"</string>
            <string>Range
"Range":"</string>
            <string>Current
"Current":"</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="UseComa" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CleanWhitespace" serializeAs="String">
        <value>True</value>
      </setting>
    </BluetoothDMM.Properties.MQTT>
    <BluetoothDMM.Properties.Settings1>
      <setting name="MQTTEnabled" serializeAs="String">
        <value>False</value>
      </setting>
    </BluetoothDMM.Properties.Settings1>
    <BluetoothDMM.Properties.Settings>
      <setting name="Ontop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ChartOn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowPosition" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="Remember" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConnectOn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Reconnect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogData" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MinimizeTray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ADisplay" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AskOnConnect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Lang" serializeAs="String">
        <value />
      </setting>
      <setting name="CallUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CSVFirst" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SVGIcon" serializeAs="String">
        <value>False</value>
      </setting>
    </BluetoothDMM.Properties.Settings>
  </userSettings>
</configuration>
